body {
    font-family: Arial, Helvetica, sans-serif;
    background: #ececec;

    .container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .main-heading {
            text-align: center;
        }

        .country-search__input {
            transition: 250ms;
            &:focus {
                background-color: #fff;
                outline: none;
                box-shadow: 0px 20px 30px -10px rgba(0 ,0 ,0,.3)
            }
        }

        .country-search {
            display: flex;
            justify-content: center;
            gap: 10px;
            &__input {
                width: 375px;
                border: none;
                border-radius: 4px;
                padding: 0 24px;
                font-size: 18px;
            }
        }

        .countries-list {
            padding: 0;
            &__item {
                display: block;
                padding: 24px 0px 24px 24px;
                border-bottom: 1px solid #aeaeae;
                &:last-child {
                    border: none;
                }
            }
        }



        img {
            width: 260px;
            height: auto;
        }

        .languages-list {
            list-style: none;
            padding: 0;
        }

        .profile {
            &-item {
                display: flex;
                justify-content: center;
                flex-direction: column;
                margin-left: 0px;
        
                &:first-child {
                    margin-left: 50px;
                }
            }
            &-wrapper {
                display: flex;
                flex-direction: row-reverse;
                justify-content: center;
            }
        }

        .country-name {
            text-align: center;
        }

        .data-item {
            margin-bottom: 10px;
        }

        .data-item b, .languages-list b {
            display: block;
            margin-bottom: 4px;
        }

        .results-wrapper {
            width: 100%;
        }

        .close-btn {
            height: 60px;
            width: 60px;
            border: none;
            border-radius: 6px;
            font-size: 30px;
            color: #5a5a5a;
            background: #d3d3d3;
            transition: 250ms;
            &:hover {
                cursor: pointer;
                background: #bebebe;
            }
        }
    }
}